* {
  margin: 0;
  box-sizing: border-box;
    }
body {
  height: 100vh;
  background-color: lightgray;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  color:#02029d;
  text-align: center;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
main {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 85%;
     padding: 20px;
     /* border: 1px solid black; */
    }
section {
     width: 70%;
     height: 100%;
     position: relative;
    }
section > div {
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    }
.content div {
    flex-basis: 25%;
    text-align: center;
    transition: flex-basis 0.5s; 
    padding: 10px;
    }
.content div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
section .content div:hover {
    flex-basis: 200%;
    }
h3{
  padding: 20px;
}